<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Contract generator</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container pt-3" id="app" v-cloak>
        <h1>Contract generator</h1>
        <div class="container pt-3" id="app" v-cloak>
            <form class="form-inline mb-3" @submit.prevent>
                <label for="name" class="mr-3">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" id="firstName"
                    v-model="contract.firstName">
            </form>
            <form class="form-inline mb-3" @submit.prevent>
                <label for="name" class="mr-3">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" id="lastName"
                    v-model="contract.lastName">
            </form>
            <form class="form-inline mb-3" @submit.prevent>
                <div class="form-group mr-5">
                    <button class="btn btn-primary" @click="applyContract()" :disabled="!canCreate">Apply</button>
                </div>
            </form>
            <form class="form-inline mb-3" @submit.prevent>
                <label for="name" class="mr-3">{{status_message}}</label>
            </form>
            <form class="form-inline mb-3" @submit.prevent>
                <div v-if="loading">
                    <loader />
                </div>
                <div v-else-if="link">
                    <a :href="link" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Download
                        PDF</a>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="frontend.js"></script>
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">© 2022</small>
            </div>
        </div>
    </footer>
</body>

</html>